.App {
  ul {
    margin: 1em auto;
  }
  caption {
    display: block;
    margin: 1em auto;
    font-family: fantasy;
    font-size: 2em;
  }
  .photoList {
    display: inline;
  }
  .thumb {
    width: 50px;
  }
  .bigImageContainer {
    width: 75%;
    margin: 1em auto;
    padding: 2em;
    border: 1px solid lightgrey;
  }
  .bigImage {
    background-color: darkgrey;
    display: block;
    margin: 1em auto;
    min-width: 100px;
  }
}
