@import 'variables.scss';

.App {
  background-color: black;

  .galleryContainer {
    position: relative;
    max-width: 800px;
  }
  .previous,
  .next {
    font-size: 3em;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 40%;
    @media (max-width: $xs-screen) {
      font-size: 2em;
    }
    @media (max-width: $xxs-screen) {
      font-size: 1em;
    }
  }
  .previous {
    margin: 10px;
    left: 0;
  }
  .next {
    margin: 10px;
    right: 0;
  }
  h1 {
    color: white;
  }

  ul {
    margin: 1em auto;
  }
  .caption {
    display: block;
    font-size: 7vw;
    color: white;
    padding-top: 5px;
  }
  .photoList {
    display: inline;
    margin-right: 10px;
  }
  .thumb {
    width: 50px;
  }
  .bigImageContainer {
    margin: 0 auto 1em auto;
    width: 75%;
    max-width: 800px;
    border: 1px solid darkgrey;
  }
  .bigImage {
    background-color: darkgrey;
    display: block;
    min-height: 100px;
    width: 100%;
  }
}
