.App {
  background-color: black; }
  .App h1 {
    color: white; }
  .App ul {
    margin: 1em auto; }
  .App .caption {
    display: block;
    font-size: 7vw;
    color: white;
    padding-top: 5px; }
  .App .photoList {
    display: inline;
    margin-right: 10px; }
  .App .thumb {
    width: 50px; }
  .App .bigImageContainer {
    margin: 0 auto 1em auto;
    width: 75%;
    max-width: 800px;
    border: 1px solid darkgrey; }
  .App .bigImage {
    background-color: darkgrey;
    display: block;
    min-height: 100px;
    width: 100%;
    max-width: 500px; }
