@import 'variables.scss';

.App {
  background-color: black;

  h1 {
    color: white;
  }

  ul {
    margin: 1em auto;
  }
  .caption {
    display: block;
    font-size: 7vw;
    color: white;
    padding-top: 5px;
  }
  .photoList {
    display: inline;
    margin-right: 10px;
  }
  .thumb {
    width: 50px;
  }
  .bigImageContainer {
    margin: 0 auto 1em auto;
    width: 75%;
    max-width: 800px;
    border: 1px solid darkgrey;
  }
  .bigImage {
    background-color: darkgrey;
    display: block;
    min-height: 100px;
    width: 100%;
    max-width: 500px;
  }
}
