.App {
  .photoList {
    display: inline;
  }
  .thumb {
    width: 50px;
  }
  .bigImageContainer {
    width: 75%;
    margin: 1em auto;
    padding: 2em;
    border: 1px solid lightgrey;
  }
  .bigImage {
    background-color: darkgrey;
    &.selected {
      width: 100%;
    }
    &.notSelected {
      width: 2%;
    }
  }
}
