.App .photoList {
  display: inline; }

.App .thumb {
  width: 50px; }

.App .bigImageContainer {
  width: 75%;
  margin: 1em auto;
  padding: 2em;
  border: 1px solid lightgrey; }

.App .bigImage {
  background-color: darkgrey; }
  .App .bigImage.selected {
    width: 100%; }
  .App .bigImage.notSelected {
    width: 2%; }
